<ion-content>
  <div class="container-header">
    <div id="back">
      <ion-button fill="clear">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="container-login">
    <p class="titulo"> Bem-vindo(a)!</p>
    <div class="form">
      <ion-input placeholder="Login"></ion-input>
      <ion-input placeholder="Senha" type="password"></ion-input>
      <ion-button class="btn-login">Entrar</ion-button>
    </div>
    <div class="opcoes-login">
      <a id="link-senha">Esqueci minha senha</a>
      <ion-button class="btn-cadastro">Cadastre-se</ion-button>
    </div>
  </div>
</ion-content>
